
.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='rgb(0 141 247)' viewBox='0 0 20 20'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z'/%3E%3Ccircle cx='10' cy='10' r='2'/%3E%3C/svg%3E")
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='rgb(0 141 247)' viewBox='0 0 29 29'><path d='m10.5 14 4-8 4 8h-8z'/><path fill='lightblue' d='m10.5 16 4 8 4-8h-8z'/></svg>")
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='rgb(0 141 247)' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='rgb(0 141 247)' viewBox='0 0 29 29'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E")
}

.maplibregl-ctrl-attrib-button {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(0 141 247)' fill-rule='evenodd' viewBox='0 0 20 20'%3E%3Cpath d='M4 10a6 6 0 1 0 12 0 6 6 0 1 0-12 0m5-3a1 1 0 1 0 2 0 1 1 0 1 0-2 0m0 3a1 1 0 1 1 2 0v3a1 1 0 1 1-2 0'/%3E%3C/svg%3E"); 
}

.maplibregl-ctrl-attrib-inner {
	color: rgb(0 141 247);
}

.maplibregl-ctrl-attrib a {
	color: rgb(0 141 247);
}

.maplibregl-ctrl-top-left {
	top: 160px;
}

.maplibregl-ctrl-group {
	border-radius: 15px;
	opacity: 0.5;
}

.maplibregl-ctrl-group:hover {
	opacity: 1;
}

.maplibregl-ctrl-group:not(:empty) {
	box-shadow: 0 0 5px #666666;
}

.maplibregl-ctrl-top {
	top: 60px;
}

.bas_icon {
	width: 22px;
	margin-top: 4px;
}

.sat_icon {
	width: 22px;
	margin-bottom: -3px;
}

.hyb_icon {
	width: 22px;
	margin-bottom: -3px;
}

/*
.control {
	position: absolute;
	left: 0;
	z-index: 1000;
}

.control.zoom {
	left: 95%;
}

.control.zoom.dec {
	top: 85%;
	border-radius: 15px 15px 0 0;
}

.control.zoom.inc {
	top: 90%;
	border-radius: 0 0 15px 15px;
}

.control.zoom button {
	font-weight: normal;
}

.control button {
	width: 30px;
	height: 30px;
	margin: 0 0 0 15px;
	border: 1px solid #999999;
	background: #ffffff;
	opacity: 0.7;
	border-radius: inherit;
	box-shadow: 0 0 5px #666666;
	font-weight: bold;
	text-align: center;
}

.control button:hover {
	opacity: 1;
	cursor: pointer;
}
*/